
body{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 100%;
    min-height: 700px;
}

#main-nav
{   
    height: 30px;
    width: 100%;
    margin: 20px 0px;
    /* position: fixed;     */
}

#Topicon
{
    width:35%;
    float: left;
    font-weight: bold;
    color: #071177;
    padding-left: 15%; 
}

#nav-email{
    float: left;
    width: 25%; 
    text-transform: uppercase;
    color: #071177;
}

#nav-phone
{
    float: left;
    width: 20%;
    text-transform: uppercase;
    color: #071177;  
}

#nav-dangnhap{
    width: 20%;
    height: 24px;
    float: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 150px;
}

.modal-content{
    background-color: #fff;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}


.wrapper-nav{
    background: #333;
    min-height: 50px; 
}
    
.wrapper-nav.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    box-shadow: 0 0 5px 2px #ccc;
}

.nav-main {
    width: 100%;
    height: 50px;
}

.nav-main ul {
    position: relative;
    width: 100%;
   
}
.nav-main ul li {
	list-style: none;
    float: left;
    padding: 12px 0 10px;
}
.nav-main ul li a {
    color: #fff;
    font-weight: 700;
    float: left;
    font-size: 14px;
    padding: 5px 0px 5px 80px;
    text-decoration: none;
    text-transform: uppercase;
}


#search-box
{   
    float: left;
    position: relative;
    margin: 10px 0px 0px 100px;
    border-radius: 100px; 
}

#textsearch
{
    width: 200px;
    height: 30px;
    float: left;
    border: 0;
    border-radius: 100px 0px 0px 100px;
    opacity: 0.3;
    text-align: center;
}

#search-button
{
    height: 30px;
    width:  30px;
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 0px 100px 100px 0px; 
}


#container{
    min-height: 1000px;
    width: 1280px;
    padding: 5px;
    margin: auto;
    margin-top: 0px;
}

.icon-outer {
	box-sizing: border-box;
	float: left;
	width: 33.33%;
	padding: 25px;
	margin: 0;
	text-align: center;
}
.icon-circle {
	background: #EEEEEE;
	width: 200px;
	height: 200px;
	border-radius: 100px; 
	margin: 0 auto;
	border: 2px solid #D6D6D6;
	box-sizing: border-box; 
	padding: 30px 0 0 0;
}
.icon-circle:hover {

	color: #FFFFFF;
	background: #EB6361;
}

.btn {
    /* display: inline-block; */
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn1{
    margin-top: 20px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn-primary {
    color: #fff;
    background-color: #CC99FF;
    border-color: #2e6da4;
}


.btn-primary:hover{
    background-color:  #99FFFF	;
    color: #333;
}


h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin: 0;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: linear-gradient(to bottom, rgba(255,255,255), rgba(0,255,255,0.5)),url("file:///C:/Users/Admin/Desktop/THLTW/MyLab/img/aaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.text-center {
    text-align: center;
}


#content
{
    /* background-color: #A49A97; */
    width: 1280px;
    min-height: 1000px;
    float: left;
    
}


.DSBS{
    width: 22%;
    height: 350px;
    margin: 20px 1% 20px 1%;
    /* background: #071177; */
    display: inline-block;
    vertical-align: top;
    color: #333;
    text-align: center;
    border: 1px solid #D6D6D6;
    
}

.thumb {
    width: 100%;
    height: 150px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 0px 10px 0px;
} 


#footer
{   
    width: 100%;
    background-color: #3e3e3e;
    min-height: 200px;
    clear: both;
}

.FT{
    width: 420px;
    height: 200px;
    list-style-type: none;
    float: left;
    color: #fff;
}

.FT ul hr{
    background-color: #fff;
}


