
body{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 100%;
    min-height: 700px;
}

#main-nav
{   
    height: 30px;
    width: 100%;
    margin: 20px 0px;
    /* position: fixed;     */
}

#Topicon
{
    width:35%;
    float: left;
    font-weight: bold;
    color: #071177;
    padding-left: 15%; 
}

#nav-email{
    float: left;
    width: 25%; 
    text-transform: uppercase;
    color: #071177;
}

#nav-phone
{
    float: left;
    width: 20%;
    text-transform: uppercase;
    color: #071177;  
}

#nav-dangnhap{
    width: 20%;
    height: 24px;
    float: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 150px;
}

.modal-content{
    background-color: #fff;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}


.wrapper-nav{
    background: #333;
    min-height: 50px; 
}
    
.wrapper-nav.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    box-shadow: 0 0 5px 2px #ccc;
}

.nav-main {
    width: 100%;
    height: 50px;
}

.nav-main ul {
    position: relative;
    width: 100%;
}
.nav-main ul li {
	list-style: none;
    float: left;
    padding: 12px 0 10px;
}

.nav-main ul li a {
    color: #fff;
    font-weight: 700;
    float: left;
    font-size: 14px;
    padding: 5px 0px 5px 80px;
    text-decoration: none;
    text-transform: uppercase;
}


#search-box
{   
    float: left;
    position: relative;
    margin: 10px 0px 0px 100px;
    border-radius: 100px; 
}

#textsearch
{
    width: 200px;
    height: 30px;
    float: left;
    border: 0;
    border-radius: 100px 0px 0px 100px;
    opacity: 0.3;
    text-align: center;
}

#search-button
{
    height: 30px;
    width:  30px;
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 0px 100px 100px 0px; 
}


#container{
    min-height: 1000px;
    width: 1280px;
    padding: 5px;
    margin: auto;
    margin-top: 0px;
}



.Left-content{
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    opacity: 0.8;
}

.right-content{
    width: 50%;
    height: 300px;
    float: left;
    padding: 20px;
    background-image: url(file:///C:/Users/Admin/Desktop/THLTW/MyLab/img/145.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    opacity: 0.8;
}


#icon_CT{
    float: left;
    width: 1280px;
    margin: 50px 0px 50px 0px;
}

.IC{
    float: left;
    height: 190px;
    width: 25%;
    padding: 10px;
    text-align: center;
}

.icon-outer {
	box-sizing: border-box;
	float: left;
	margin: 0;
	text-align: center;
}
.icon-circle {
	width: 100px;
	height: 100px;
	border-radius: 100px; 
	margin: 0 auto;
	border: 2px solid #D6D6D6;
	box-sizing: border-box; 
	padding: 22px 0 0 0;
}

.icon-circle:hover {
	color: #FFFFFF;
	background: #EB6361;
}

#header
{
    text-align: center;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgba(255,255,255), rgba(0,255,255,0.5)),url("file:///C:/Users/Admin/Desktop/THLTW/MyLab/img/aaa.jpg");
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

#content
{
    width: 1280px;
    min-height: 1000px;
    float: left;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: linear-gradient(to bottom, rgba(255,255,255), rgba(0,255,255,0.5)),url("file:///C:/Users/Admin/Desktop/THLTW/MyLab/img/aaa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#footer
{   
    width: 100%;
    background-color: #3e3e3e;
    min-height: 200px;
    clear: both;
}

.FT{
    width: 420px;
    height: 200px;
    list-style-type: none;
    float: left;
    color: #fff;
}

.FT ul hr{
    background-color: #fff;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #6633FF;
    border-color: #2e6da4;
}


.btn-primary:hover{
    background-color:  #99FFFF	;
    color: #333;
}
